[submodule "thirdparty/stable-diffusion.cpp"]
	path = thirdparty/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
[submodule "thirdparty/llama.cpp"]
	path = thirdparty/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
